<div class="col-md-4"> 
    <h3>Related Products</h3>
    <div class="right-inner">
        <div class="people-say">
            <?= $this->Html->image('a2.jpg', array('alt' => '')) ?>
            <div class="overflow-h">
                <span>Global Next Generation Sequencing Technologies Market Analysis - Trends & Forecast to 2020</span>
                <small class="hex pull-right" style="color:#72c02c">USD 3,500</small>
                <ul class="details list-inline">
                    <li id="first">ID:565647</li>
                    <li class="detail_li">November 2014</li>
                    <li class="detail_li">Region:Global</li>
                    <li class="detail_li">304 Pages</li>
                </ul>
            </div>    
        </div>
    </div>
    <div class="right-inner">
        <div class="people-say">
            <?= $this->Html->image('a2.jpg', array('alt' => '')) ?>
            <div class="overflow-h">
                <span>Global Next Generation Sequencing Technologies Market Analysis - Trends & Forecast to 2020</span>
                <small class="hex pull-right" style="color:#72c02c">USD 3,500</small>
                <ul class="details list-inline">
                    <li id="first">ID:565647</li>
                    <li class="detail_li">November 2014</li>
                    <li class="detail_li">Region:Global</li>
                    <li class="detail_li">304 Pages</li>
                </ul>
            </div>    
        </div>
    </div>
    <div class="right-inner">
        <div class="people-say">
            <?= $this->Html->image('a2.jpg', array('alt' => '')) ?>
            <div class="overflow-h">
                <span>Global Next Generation Sequencing Technologies Market Analysis - Trends & Forecast to 2020</span>
                <small class="hex pull-right" style="color:#72c02c">USD 3,500</small>
                <ul class="details list-inline">
                    <li id="first">ID:565647</li>
                    <li class="detail_li">November 2014</li>
                    <li class="detail_li">Region:Global</li>
                    <li class="detail_li">304 Pages</li>
                </ul>
            </div>    
        </div>
    </div>
    <div class="right-inner">
        <div class="people-say">
            <?= $this->Html->image('a2.jpg', array('alt' => '')) ?>
            <div class="overflow-h">
                <span>Global Next Generation Sequencing Technologies Market Analysis - Trends & Forecast to 2020</span>
                <small class="hex pull-right" style="color:#72c02c">USD 3,500</small>
                <ul class="details list-inline">
                    <li id="first">ID:565647</li>
                    <li class="detail_li">November 2014</li>
                    <li class="detail_li">Region:Global</li>
                    <li class="detail_li">304 Pages</li>
                </ul>
            </div>    
        </div>
    </div>
</div>