<div class="productCountries index">
	<h2><?php echo __('Product Countries'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('product_id'); ?></th>
			<th><?php echo $this->Paginator->sort('country_id'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($productCountries as $productCountry): ?>
	<tr>
		<td><?php echo h($productCountry['ProductCountry']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($productCountry['Product']['id'], array('controller' => 'products', 'action' => 'view', $productCountry['Product']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($productCountry['Country']['id'], array('controller' => 'countries', 'action' => 'view', $productCountry['Country']['id'])); ?>
		</td>
		<td><?php echo h($productCountry['ProductCountry']['created']); ?>&nbsp;</td>
		<td><?php echo h($productCountry['ProductCountry']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $productCountry['ProductCountry']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $productCountry['ProductCountry']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $productCountry['ProductCountry']['id']), null, __('Are you sure you want to delete # %s?', $productCountry['ProductCountry']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Product Country'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Products'), array('controller' => 'products', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Product'), array('controller' => 'products', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Countries'), array('controller' => 'countries', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Country'), array('controller' => 'countries', 'action' => 'add')); ?> </li>
	</ul>
</div>
