<div class="orderProducts index">
	<h2><?php echo __('Order Products'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('order_id'); ?></th>
			<th><?php echo $this->Paginator->sort('product_id'); ?></th>
			<th><?php echo $this->Paginator->sort('product_name'); ?></th>
			<th><?php echo $this->Paginator->sort('product_no'); ?></th>
			<th><?php echo $this->Paginator->sort('category_id'); ?></th>
			<th><?php echo $this->Paginator->sort('product_description'); ?></th>
			<th><?php echo $this->Paginator->sort('price'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($orderProducts as $orderProduct): ?>
	<tr>
		<td><?php echo h($orderProduct['OrderProduct']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($orderProduct['Order']['id'], array('controller' => 'orders', 'action' => 'view', $orderProduct['Order']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($orderProduct['Product']['id'], array('controller' => 'products', 'action' => 'view', $orderProduct['Product']['id'])); ?>
		</td>
		<td><?php echo h($orderProduct['OrderProduct']['product_name']); ?>&nbsp;</td>
		<td><?php echo h($orderProduct['OrderProduct']['product_no']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($orderProduct['Category']['id'], array('controller' => 'categories', 'action' => 'view', $orderProduct['Category']['id'])); ?>
		</td>
		<td><?php echo h($orderProduct['OrderProduct']['product_description']); ?>&nbsp;</td>
		<td><?php echo h($orderProduct['OrderProduct']['price']); ?>&nbsp;</td>
		<td><?php echo h($orderProduct['OrderProduct']['created']); ?>&nbsp;</td>
		<td><?php echo h($orderProduct['OrderProduct']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $orderProduct['OrderProduct']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $orderProduct['OrderProduct']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $orderProduct['OrderProduct']['id']), null, __('Are you sure you want to delete # %s?', $orderProduct['OrderProduct']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Order Product'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Orders'), array('controller' => 'orders', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Order'), array('controller' => 'orders', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Products'), array('controller' => 'products', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Product'), array('controller' => 'products', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Categories'), array('controller' => 'categories', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Category'), array('controller' => 'categories', 'action' => 'add')); ?> </li>
	</ul>
</div>
