  <?php 

    $output='<ul class="list-unstyled" id="search_ul" style="cursor:pointer;background-color:#f2f2f2;">';
      for($i=0;$i<sizeof($search_results);$i++ )
        { 
            $link=Router::url( array('controller' => 'products', 'action' => 'category_details', 'main' => $this->Link->cleanString($search_results[$i]['Product']['slug']), 'id' => $search_results[$i]['Product']['id'], 'slug' => $search_results[$i]['Product']['slug']));
            //debug($link);
          $output.=  '<a target="_blank" style="text-decoration: none;" href='.  $link  . ' ><li id="result"  style="padding:8px;text-align: left;font-size: small;border-bottom: 1px solid rgba(76,76,76,.05);"> '. $search_results[$i]['Product']['product_name']  .'</li></a>';
        }
      $output.='</ul>';
      echo $output; 
      //json_encode($data);
  ?>
   
